div:hover {
  border: 2px solid rgb(0, 0, 0);
}

#div1 {
    background-color: greenyellow;
}

#div1 h3 {
    color: rgb(67, 142, 207);
    font-style: italic;
}

#div2 {
    background-color: yellow;
}

#div2 h3 {
    color: rgb(236, 56, 56);
}

#div3 {
    background-color: rgb(255, 123, 0);
    padding: 10px;
}

#div3 h3 {
    color: rgb(68, 5, 5);
    font-style: italic;
}

#div4 {
    background-color: rgb(124, 61, 10);
}

#div4 h3 {
    color: rgb(255, 226, 226);
}

#div5 {
    background-color: burlywood;
}

#div5 h3 {
    color: rgb(27, 70, 2);
    font-style: italic;
}
