.container {
  margin-top: 20px;
}

textarea {
  resize: none; 
}

.form-switch {
  margin-left: 10px;
}

#best-date {
  border: solid 1px lightgray;
}

#best-date:hover {
  border: solid 2px cadetblue;
  border-radius: 5px;
}